.Advantages {
  margin-bottom: 80px;
}
.AdvantagesWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
}
.title {
  color: rgba(26, 75, 56, 1);
  font-family: var(--third-family);
  font-size: clamp(32px, calc((46 / 1440) * 100vw), 46px);
  letter-spacing: 0%;
  font-weight: 900;
  line-height: 48px;
  /* letter-spacing: 0%; */
  text-align: left;
}

.AdvantagesList {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.advantagesItem {
  width: 100%;
  max-width: 343px;
}

.imageWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 343 / 236;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}
.image {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.AdvantagesBlock {
  aspect-ratio: 343 / 235;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
  padding: 16px;

  border-radius: 20px;
  background: rgba(26, 75, 56, 1);
}
.top {
  width: 100%;
  height: 49px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
}
.titleBlock,
.text {
  color: rgba(239, 243, 229, 1);

  font-family: var(--font-family);
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: left;
}
.text {
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
}
.iconBlock {
  width: 32px;
  height: 32px;
  display: flex;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 16px;
  background: var(--accent-1);
}
.icon {
  width: 20px;
  height: 20px;
  fill: var(--accent-2);
}
@media screen and (min-width: 768px) {
  .title {
    /* font-size: 36px; */
    line-height: 58px;
  }
  .AdvantagesList {
    flex-direction: row;
    max-width: 600px;
    align-self: center;
    gap: 24px;
  }
  .advantagesItem {
    width: calc((100% - 32px) / 2);
    max-width: 280px;
  }
  .AdvantagesBlock,
  .imageWrapper {
    aspect-ratio: 282 / 282;
  }
  .top {
    height: 81px;
  }
}
@media screen and (min-width: 1120px) {
  .AdvantagesList {
    max-width: 100%;
  }
  .advantagesItem {
    width: calc((100% - 48px) / 3);
    max-width: 25%;
  }
}
@media screen and (min-width: 1280px) {
  .title {
    /* font-size: 46px; */
    line-height: 69px;
  }
  .AdvantagesList {
    gap: 24px;
  }
  .advantagesItem {
    width: calc((100% - 72px) / 4);
  }
  .titleBlock,
  .text {
    color: rgba(239, 243, 229, 1);

    font-family: var(--font-family);
    font-size: clamp(16px, calc((16 / 1280) * 100vw), 18px);
    font-weight: 700;
    line-height: clamp(22px, calc((22 / 1280) * 100vw), 27px);
    letter-spacing: 0%;
    text-align: left;
  }
  .text {
    font-size: clamp(14px, calc((14 / 1280) * 100vw), 16px);
    font-weight: 400;
    line-height: clamp(17px, calc((17 / 1280) * 100vw), 25px);
  }
}
