.formWrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  /* border: 3px solid red; */

  border-radius: 20px;
  padding: 16px;

  background: var(--accent-2);
}

.infoBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
}
.title {
  color: var(--fone-1);

  text-align: left;
  font-family: var(--third-family);
  font-weight: 900;
  letter-spacing: 0.04em;
  font-size: clamp(28px, calc((28 / 375) * 100vw), 32px);
  line-height: 150%;
}
.text {
  color: var(--fone-1);

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 156%;
  text-align: left;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
}

.blockInputs {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 34px;
}
.label {
  width: 100%;
  height: 77px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
}
.labelTexarea {
  width: 100%;
  height: 156px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
}
.labelSpan {
  color: var(--fone-1);

  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0%;
  text-align: left;
}
.input {
  width: 100%;
  height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 11px 16px;

  color: var(--color-text-add);

  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0%;
  text-align: left;

  border: none;
  border-radius: 50px;
  box-shadow:
    1px 2px 4px 0 rgba(195, 195, 195, 0.26),
    -1px -1px 4px 0 rgba(228, 228, 228, 0.26);
  background: var(--color-add-search);
}
.textarea {
  border-radius: 20px;
  padding: 12px 16px;
  width: 100%;
  min-height: 120px;
  resize: none;
  border: none;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 156%;
  color: var(--color-text-add);

  box-shadow:
    1px 2px 4px 0 rgba(195, 195, 195, 0.26),
    -1px -1px 4px 0 rgba(228, 228, 228, 0.26);
  background: var(--color-add-search);
}
.inputError {
  border: 1px solid red;
  box-shadow: none;
}

.error {
  color: red;
}

.btnSend {
  border-radius: 30px;
  padding: 8px;
  width: 100%;
  height: 37px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  box-shadow: 1px 2px 4px 0 rgba(239, 243, 229, 0.48);
  background: #eff3e5;

  font-family: var(--font-family);
  font-weight: 700;
  font-size: 15px;
  line-height: 167%;
  color: var(--accent-2);
}

@media screen and (min-width: 768px) {
  .btnSend {
    padding: 12px 64px;
    max-width: 250px;
    height: 49px;
  }
  .title {
    font-size: 32px;
    line-height: 48px;
  }
}
@media screen and (min-width: 1000px) {
  .formWrapper {
    border-radius: 50px;
    padding: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .btnSend {
    transition:
      background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1),
      border 0.3s cubic-bezier(0.4, 0, 0.2, 1),
      color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  }
  .btnSend:hover {
    box-shadow: 1px 2px 4px 0 rgba(122, 170, 141, 0.47);
    background: var(--color-add-2);
  }
  .btnSend:active {
    box-shadow: 1px 2px 4px 0 rgba(131, 189, 22, 0.48);
    background: var(--accent-3);
  }
}
