.sectionTitleVideo {
  margin-bottom: 40px;
}
.titleVideoWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 24px;
}

.description,
.youtubePlayer {
  width: 100%;
}
.description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
}
.title {
  font-family: var(--third-family);
  font-size: clamp(32px, calc((46 / 1440) * 100vw), 46px);
  letter-spacing: 0%;
  font-weight: 900;
  line-height: 150%;
  color: var(--accent-2);
}

.text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 156%;
  color: var(--text);
}
.downloadBtn {
  width: 214px;
  height: 37px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 8px 32px;

  border-radius: 30px;
  box-shadow: 1px 2px 4px 0px rgba(244, 166, 0, 0.48);
  background: rgba(244, 166, 0, 1);

  color: rgba(26, 75, 56, 1);

  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 8px;
}

.youtubePlayer {
  position: relative;
  width: 100%;
  aspect-ratio: 588 / 326;
}

.youtubePlayer iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.animateDescription {
  opacity: 0;
  transition:
    opacity 0.8s ease-out,
    transform 0.8s ease-out;
}
.animateDescription {
  transform: translateX(-50px);
}
.animateDescription.visible {
  opacity: 1;
  transform: translateX(0);
}
@media screen and (min-width: 1080px) {
  .sectionTitleVideo {
    margin-bottom: 32px;
  }
  .description,
  .youtubePlayer {
    width: calc(50% - 12px);
  }
  .text {
    width: 494px;
  }
  .titleVideoWrapper {
    flex-direction: row;
  }
  .downloadBtn {
    margin-top: 16px;
  }
}

@media screen and (min-width: 768px) {
  .title {
    font-size: clamp(36px, calc((36 / 768) * 100vw), 40px);
  }
  .downloadBtn {
    width: 221px;
    height: 49px;
    padding: 12px 30px;
    font-size: 15px;
    line-height: 25px;
  }
}
@media screen and (min-width: 1280px) {
  .title {
    font-size: clamp(40px, calc((40 / 1280) * 100vw), 46px);
  }
  .downloadBtn:hover {
    box-shadow: 1px 2px 4px 0px rgba(131, 189, 22, 0.48);
    background: rgba(131, 189, 22, 1);
  }
  .downloadBtn:active {
    box-shadow: 1px 2px 4px 0px rgba(26, 75, 56, 0.51);
    background: rgba(122, 170, 141, 1);
  }
}
