.modal {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(52, 52, 52, 0.54);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
	animation: fadeIn 0.3s ease-out;
}
.modalContent {
	border-radius: 24px;
	width: calc(100% - 32px);
	max-width: 513px;
	display: flex;
	align-items: center;
	justify-content: center;
	animation: slideIn 0.3s ease-out;
	position: relative;

	padding: 56px 16px 16px 16px;
	border-radius: 30px;
	background: rgba(239, 243, 229, 1);
}
@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes slideIn {
	from {
		opacity: 0;
		transform: translateY(30px);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.modalCloseBtn {
	position: absolute;
	top: 24px;
	right: 24px;
	width: 24px;
	height: 24px;
	color: var(--white);
	font-size: 42px;
	font-weight: 100;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.3s ease;
	z-index: 10;
}
.closeIcon {
	width: 22px;
	height: 20px;
	stroke: var(--text);
}
@media screen and (min-width: 768px) {
	.modalContent {
		width: 100%;
		padding: 40px;
	}
}
