.instrCont {
  animation: ani 2s forwards;
}

@keyframes ani {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.table {
  width: 100%;
  border-collapse: collapse;
  border: none;
  border-radius: 20px;
  background-color: var(--color-add-search);
}

.table th,
.table td {
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 25px;
  padding: 16px;
  border-right: 1px solid #11341a66;
  border-bottom: 1px solid #11341a66;
  overflow-wrap: break-word;
  word-break: break-word;
}

.table th:last-child,
.table td:last-child {
  border-right: none;
}

.table tr:last-child td {
  border-bottom: none;
}
