.title {
  font-family: var(--font-family);
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 0;
  padding-bottom: 16px;
}
.socialItem {
  display: flex;
  gap: 8px;
  padding-bottom: 32px;
}
.icon {
  width: 20px;
  height: 20px;
}
.iconBlock {
  fill: var(--fone-1);
}
.iconBlock:hover {
  fill: var(--color-add-2);
}
.iconBlock:active {
  fill: var(--accent-1);
}

.btnSoc {
  color: var(--accent-1);
  font-size: 13px;
  font-family: var(--font-family);
  border: 2px solid #f4a600;
  box-shadow: 1px 2px 4px 0px #f4a60078;
  border-radius: 30px;
  min-height: 37px;
  min-width: 158px;
  padding: 8px 9px;
}
.btnSoc:hover,
.btnSoc:active {
  border: 2px solid #eff3e5;
  color: var(--fone-1);
}
@media screen and (min-width: 1200px) {
  .btnSoc:active {
    color: var(--accent-3);
    border: 2px solid #83bd16;
  }
}
