.elipse {
	position: fixed;
	bottom: 20px;
	right: 16px;
	z-index: 2;
	/* Ellipse 55 */
	width: 65px;
	height: 65px;
	border-radius: 50%;
	box-shadow: 1px 2px 4px 0px var(--accent-3);
	background: var(--accent-3);

	color: rgba(239, 243, 229, 1);

	font-family: var(--font-family);
	font-size: 9px;
	font-weight: 700;
	line-height: 13px;
	letter-spacing: 0%;
	text-align: center;
}
.elipse:active {
	box-shadow: 1px 2px 4px 0 rgba(122, 170, 141, 0.47);
	background: var(--color-add-2);
}
.socialList {
	display: none;
}
@media screen and (min-width: 768px) {
	.elipse {
		position: fixed;
		bottom: 48px;
		right: 40px;
		z-index: 2;
		/* Ellipse 55 */
		width: 72px;
		height: 72px;
		border-radius: 50%;
		box-shadow: 1px 2px 4px 0px var(--accent-3);
		background: var(--accent-3);

		color: rgba(239, 243, 229, 1);

		font-family: var(--font-family);
		font-size: 10px;
		font-weight: 700;
		line-height: 15px;
		letter-spacing: 0%;
		text-align: center;
	}

	.socialList {
		width: 40px;
		height: auto;
		position: fixed;
		bottom: 150px;
		right: 56px;
		z-index: 2;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		gap: 10px;
		padding: 16px 8px;

		border-radius: 40px;
		background: rgba(244, 166, 0, 1);

		/* анімація */
		opacity: 0;
		transform: translateY(20px);
		pointer-events: none;

		transition: opacity 300ms ease, transform 300ms ease;
	}

	.socialListVisible {
		opacity: 1;
		transform: translateY(0);
		pointer-events: auto;
	}

	.socialItem {
		width: 24px;
		height: 24px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-shrink: 0;
	}
	.icon {
		width: 20px;
		height: 20px;
		fill: var(--color-white);
	}
}
@media screen and (min-width: 1280px) {
	.elipse:hover {
		background: #7aaa8d;
		box-shadow: 1px 2px 4px 0 rgba(122, 170, 141, 0.48);
	}
	.elipse:active {
		background: #f4a600;
		box-shadow: 1px 2px 4px 0 rgba(244, 166, 0, 0.48);
	}
	.socialItem:hover .icon {
		fill: var(--color-state-add);
	}
	.socialItem:active .icon {
		fill: var(--accent-1);
	}
}
