.scrollContainer {
	width: 100%;
	max-height: 100vh;
	overflow-y: auto;
	overflow-x: hidden;
}
.imageWrapper {
	width: 100%;
	aspect-ratio: 751 / 1062;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	position: relative;
	z-index: 9999;
}
.image {
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
