.heroCont {
  padding-top: 48px;
  padding-bottom: 48px;
}

.imgFirst,
.imgSec {
  position: relative;
  display: block;
  width: clamp(343px, calc((588 / 1440) * 100vw), 588px);
  aspect-ratio: 588 / 363;
  margin: 0 auto;
}
.title {
  font-family: var(--third-family);
  color: var(--accent-2);
  padding-bottom: 32px;
  font-size: clamp(32px, calc((46 / 1440) * 100vw), 46px);
  /* letter-spacing: 0.06em; */
}
.mainCont {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.btnAbout {
  display: flex;
  color: var(--accent-2);
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 700;
  border-radius: 30px;
  border: 2px solid var(--accent-2);
  box-shadow: 1px 2px 4px 0px #1a4b3882;
  font-family: var(--font-family);
  width: 179px;
  height: 37px;
  z-index: 1000;
}
.btnAbout:active,
.btnAbout:hover {
  color: var(--color-add-2);
  border: 2px solid var(--color-add-2);
  box-shadow: 1px 2px 4px 0px #1a4b3882;
}

.animateTitle {
  opacity: 0;
  transition:
    opacity 0.8s ease-out,
    transform 0.8s ease-out;
}
.animateTitle {
  transform: translateX(-50px);
}
.animateTitle.visible {
  opacity: 1;
  transform: translateX(0);
}
.fromLeft,
.fromRight {
  opacity: 0;
  transition:
    opacity 0.8s ease,
    transform 0.8s ease;
}

.fromLeft {
  transform: translateX(-50px);
}

.fromRight {
  transform: translateX(50px);
}

.visible {
  opacity: 1;
  transform: translateX(0);
}
@media screen and (max-width: 374px) {
  .imgFirst,
  .imgSec {
    width: 310px;
  }
}
@media screen and (min-width: 768px) {
  .heroCont {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .textFirst,
  .textSec,
  .textTh {
    font-size: 16px;
  }
}
@media screen and (min-width: 980px) {
  .textFirst {
    grid-area: textFirst;
  }
  .imgFirst {
    grid-area: imgFirst;
  }
  .textSec {
    grid-area: textSec;
  }
  .imgSec {
    grid-area: imgSec;
  }
  .textTh {
    grid-area: textTh;
  }
  .btnAbout {
    grid-area: btnAbout;
  }
  .mainCont {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "textFirst imgFirst"
      "textSec imgFirst"
      "imgSec textTh"
      "imgSec btnAbout";
    gap: 24px;
  }
  .btnAbout {
    font-size: 15px;
    width: 283px;
    height: 49px;
  }
  .btnAbout:active {
    color: var(--accent-3);
    border: 2px solid var(--accent-3);
    box-shadow: 1px 2px 4px 0px #1a4b3882;
  }
}
@media screen and (min-width: 1230px) {
  .btnAbout {
    margin-top: -84px;
  }
}
