.authWrapper {
  width: 100%;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--fone-1);
}
.authBlock {
  width: 464px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
}
.title {
  color: rgba(0, 0, 0, 1);

  font-family: var(--font-family);
  font-size: 32px;
  font-weight: 500;
  line-height: 39px;
  letter-spacing: 0%;
  text-align: center;
}
.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.inputWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
}
.label {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.input {
  width: 100%;
  height: 49px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  padding: 14px 20px;

  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.24);
  border-radius: 16px;

  color: rgba(0, 0, 0, 0.6);

  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -1.1%;
  text-align: left;
}
.error {
  color: red;
}
.btnEnter {
  width: 100%;
  height: 49px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 14px 20px;

  border-radius: 16px;
  background: var(--accent-footer);

  color: rgba(255, 255, 255, 1);

  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -1.1%;
  text-align: left;
  transform: scale(1);
  transition: transform 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.btnEnter:active {
  transform: scale(0.98);
  transition: transform 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.btnRestore {
  height: 21px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;

  box-sizing: border-box;
  border-bottom: 1px solid rgba(0, 0, 0, 1);

  color: rgba(0, 0, 0, 1);

  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -1.1%;
  text-align: left;
}
