.formWrapper {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 16px;
	/* border: 3px solid red; */
}

.infoBlock {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 8px;
}
.title {
	color: rgba(26, 75, 56, 1);

	font-family: var(--third-family);
	font-size: 26px;
	font-weight: 800;
	line-height: 42px;
	letter-spacing: 0%;
	text-align: left;
}
.text {
	color: rgba(40, 40, 40, 1);

	font-family: var(--font-family);
	font-size: 16px;
	font-weight: 400;
	line-height: 25px;
	letter-spacing: 0%;
	text-align: center;
}

.form {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 24px;
}

.blockInputs {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 34px;
}
.label {
	width: 100%;
	height: 77px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 8px;
}
.labelSpan {
	color: rgba(40, 40, 40, 1);

	font-family: var(--font-family);
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
	letter-spacing: 0%;
	text-align: left;
}
.input {
	width: 100%;
	height: 48px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	gap: 10px;
	padding: 11px 16px;

	color: rgba(146, 146, 146, 1);

	font-family: var(--font-family);
	font-size: 16px;
	font-weight: 400;
	line-height: 25px;
	letter-spacing: 0%;
	text-align: left;

	border: none;
	border-radius: 50px;
	box-shadow: -1px -1px 4px 0px rgba(228, 228, 228, 0.26),
		1px 2px 4px 0px rgba(195, 195, 195, 0.26);
	background: rgba(249, 249, 249, 1);
}
.inputError {
	border: 1px solid red;
	box-shadow: none;
}

.error {
	color: red;
}

.btnBlock {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 16px;
}
.btnSend {
	width: 100%;
	height: 37px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 10px;
	padding: 12px 12px;

	border-radius: 30px;
	background: rgba(189, 189, 189, 1);

	color: rgba(40, 40, 40, 1);

	font-family: var(--font-family);
	font-size: 14px;
	font-weight: 700;
	line-height: 21px;
	letter-spacing: 0%;
	text-align: left;
}
.btnSendActive {
	background: var(--accent-1); /* жовтий */
	color: var(--accent-2);
}

@media screen and (min-width: 768px) {
	.formWrapper {
		width: 593px;
	}
	.btnSend {
		width: 433px;
		height: 49px;
		font-size: 15px;
		line-height: 25px;
	}
	.title {
		font-size: 32px;
		line-height: 48px;
	}
}
@media screen and (min-width: 1280px) {
	.btnSend {
		transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1),
			border 0.3s cubic-bezier(0.4, 0, 0.2, 1),
			color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
	}
	.btnSend:hover {
		border: 1px solid var(--brand);
		background: var(--white);
		color: var(--brand);
	}
	@media screen and (min-width: 1280px) {
		.btnSendActive:hover {
			box-shadow: 1px 2px 4px 0 rgba(122, 170, 141, 0.48);
			background: var(--color-add-2);
		}
	}
}
