.contDescrItem {
  padding: 16px;
  border-radius: 20px;
  margin-bottom: 16px;
  background-color: var(--color-add-search);
  animation: ani 2s forwards;
}

@keyframes ani {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.title {
  font-family: var(--font-family);
  font-size: 20px;
  font-weight: 700;
}
.text {
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 25px;
}
