.servicesSection {
  margin-bottom: 48px;
}

.servicesWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.title {
  text-align: left;
  font-family: var(--third-family);
  font-weight: 800;
  font-weight: 900;
  font-size: clamp(32px, calc((46 / 1440) * 100vw), 46px);

  letter-spacing: 0%;
  line-height: 150%;
  color: #1a4b38;
}
.servicesBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.servicesList {
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 16px;
}
.servicesItem {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* align-items: flex-start;
	justify-content: stretch; */
  /* flex-shrink: 0;
	flex-wrap: wrap; */
  gap: 16px;
  padding: 16px;
  border-radius: 20px;
  background-color: var(--accent-2);
}
.servicesIconBlock {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  background-color: var(--accent-1);
}
.iconServices {
  width: 24px;
  height: 24px;
  fill: var(--accent-2);
}
.text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 156%;
  color: var(--fone-1);
}

.lastServicesItem {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 24px;
  width: 100%;
  border-radius: 20px;
  padding: 16px;
  background-color: var(--accent-2);
}
.textBlock,
.imageWrapper {
  width: 100%;
}

.animateBlock,
.animateTitle {
  opacity: 0;
  transition:
    opacity 0.8s ease-out,
    transform 0.8s ease-out;
}
.animateTitle {
  transform: translateX(-50px);
}
.animateBlock {
  transform: translateY(50px);
}
.animateTitle.visible,
.animateBlock.visible {
  opacity: 1;
}
.animateTitle.visible {
  transform: translateX(0);
}
.animateBlock.visible {
  transform: translateY(0);
}
@media screen and (max-width: 768px) {
  .imageWrapper {
    aspect-ratio: 311 / 99;
  }
}
.imageWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}
.image {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media screen and (min-width: 768px) {
  /* .title {
		font-size: clamp(36px, calc((36 / 768) * 100vw), 40px);
	} */
  .servicesItem {
    width: calc((100% - 16px) / 2);
  }
  .lastServicesItem {
    flex-direction: row;
    gap: 24px;
  }
  .textBlock,
  .imageWrapper {
    width: calc(50% - 16px);
  }
  .imageWrapper {
    height: auto;
  }
}
@media screen and (min-width: 1280px) {
  .servicesSection {
    margin-bottom: 80px;
  }
  /* .title {
		font-size: clamp(40px, calc((40 / 1280) * 100vw), 46px);
	} */
  .servicesList {
    gap: 24px;
  }
  .servicesItem {
    width: calc((100% - 72px) / 4);
  }
}
