.contactSection {
  margin-bottom: 24px;
}
.contactsWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
.topBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
.title {
  font-family: var(--third-family);
  font-weight: 900;
  font-size: clamp(32px, calc((46 / 1440) * 100vw), 46px);

  letter-spacing: 0%;
  line-height: 150%;
  color: var(--accent-2);
}

.contactsList {
  width: 100%;
  max-width: 918px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 24px;
}
.contactsItem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  flex-shrink: 0;
}
.titleItem {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 156%;
  color: var(--text);
}
.messegeList {
  width: 160px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}
.messegeItem {
  flex-shrink: 0;
}
.description,
.link,
.addressText {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 156%;
  color: var(--text);
}
.messageLink {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.iconMessage {
  width: 22px;
  height: 20px;
  color: var(--accent-2);
}
.animateTitle {
  opacity: 0;
  transition:
    opacity 0.8s ease-out,
    transform 0.8s ease-out;
}
.animateTitle {
  transform: translateX(-50px);
}
.animateTitle.visible {
  opacity: 1;
  transform: translateX(0);
}

@media screen and (min-width: 420px) {
  .messegeList {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .title {
    font-size: clamp(36px, calc((36 / 768) * 100vw), 40px);
  }
}
@media screen and (min-width: 1280px) {
  .contactSection {
    margin-bottom: 32px;
  }
  .title {
    font-size: clamp(40px, calc((40 / 1280) * 100vw), 46px);
  }
  .link:hover,
  .iconMessage:hover {
    color: var(--accent-1);
  }
  .link:active,
  .iconMessage:active {
    color: var(--color-state-add);
  }
}
@media screen and (min-width: 1440px) {
  .title {
    font-size: 46px;
  }
}
