.expertsSection {
  margin-bottom: 47px;
}
.expertWrapper {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  justify-content: space-between;
  gap: 16px;
}
.imageWrapper {
  width: 100%;
  aspect-ratio: 343 / 245;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}
.image {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 16px;
}
.title {
  text-align: left;
  font-family: var(--third-family);
  font-weight: 900;
  font-size: clamp(32px, calc((46 / 1440) * 100vw), 46px);

  letter-spacing: 0%;
  line-height: 150%;
  color: var(--accent-2);
}
.animateTitle {
  opacity: 0;
  transition:
    opacity 0.8s ease-out,
    transform 0.8s ease-out;
}
.animateTitle {
  transform: translateX(-50px);
}
.animateTitle.visible {
  opacity: 1;
  transform: translateX(0);
}
/* @media screen and (min-width: 768px) {
  .title {
    font-size: clamp(36px, calc((36 / 768) * 100vw), 40px);
  }
} */
@media screen and (min-width: 1280px) {
  .expertsSection {
    margin-bottom: 67px;
  }
  .expertWrapper {
    flex-direction: row;
    gap: 24px;
  }
  .imageWrapper {
    width: calc(44% - 12px);
    aspect-ratio: 486 / 347;
    border-radius: 50px;
  }
  .description {
    width: calc(56% - 12px);
  }
  /* .title {
    font-size: clamp(40px, calc((40 / 1280) * 100vw), 46px);
  } */
  .animateTitle {
    transform: translateX(50px);
  }
}
@media screen and (min-width: 1440px) {
  .title {
    font-size: 46px;
  }
}
.text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 156%;
  color: var(--text);
}
