.modal {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	-webkit-backdrop-filter: blur(6px);
	backdrop-filter: blur(6px);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
	animation: fadeIn 0.3s ease-out;
}
.modalContent {
	border-radius: 20px;
	width: 343px;
	height: 308px;
	background: var(--fone-1);

	animation: slideIn 0.3s ease-out;
	position: relative;
}
@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes slideIn {
	from {
		opacity: 0;
		transform: translateY(30px);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.modalCloseBtn {
	position: absolute;
	top: 16px;
	right: 16px;
	width: 24px;
	height: 24px;

	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.3s ease;
	z-index: 10;
}
.iconClose {
	width: 18px;
	height: 16px;
	stroke: var(--text);
}

.blockSuccess {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 8px;
	padding: 56px 16px 16px 16px;
}
.title {
	font-family: var(--third-family);
	font-weight: 800;
	font-size: 28px;
	line-height: 150%;
	text-align: center;
	color: var(--accent-2);
}
.text {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 16px;
	line-height: 156%;
	text-align: center;
	color: var(--text);
}
.blockIcon {
	margin-top: 16px;
	width: 64px;
	height: 64px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
	border-radius: 100%;
	background: var(--accent-1);
}
.succesfullIcon {
	width: 34px;
	height: 28px;
	fill: #1a4b38;
}
@media screen and (min-width: 768px) {
	.modalContent {
		border-radius: 30px;
		width: 513px;
		height: 249px;
	}
	.modalCloseBtn {
		position: absolute;
		top: 24px;
		right: 24px;
	}
}
