.sectionEfficiency {
  margin-bottom: 80px;
}
.EfficiencyWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 24px;
}
.title {
  color: rgba(26, 75, 56, 1);

  font-family: var(--third-family);
  font-size: clamp(32px, calc((46 / 1440) * 100vw), 46px);
  letter-spacing: 0%;
  font-weight: 900;
  line-height: 48px;
  /* letter-spacing: 0%; */
  text-align: left;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 24px;
}
.text {
  width: 100%;
  color: rgba(40, 40, 40, 1);

  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0%;
  text-align: left;
}

.imageWrapper {
  width: 100%;
  aspect-ratio: 343 / 229;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}
.image {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media screen and (min-width: 768px) {
  .title {
    /* font-size: 36px; */
    line-height: 58px;
  }
}
@media screen and (min-width: 1280px) {
  .title {
    /* font-size: 46px; */
    line-height: 69px;
  }
  .content {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
  .text,
  .imageWrapper {
    width: calc(50% - 12px);
    aspect-ratio: 588 / 393;
  }
}
